<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <title>Habilis</title>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #21D0C3;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="https://munarnicolas.wixsite.com/habilis-pmc" style="font-size:200%;"><img src="https://image.flaticon.com/icons/svg/387/387552.svg" width="50" height="50" alt=""> Habilis</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="https://munarnicolas.wixsite.com/habilis-pmc" target="_blank">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/usuarios/formulario/">Crear Orden <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/usuarios/citas/">Citas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/usuarios/ordenes/">Órdenes <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="font-size:120%" class="nav-link disabled">Bienvenido: {{ user.username }} </a></li>
                    <li><a style="font-size:120%; padding-right:20px" class="btn btn-outline-light" href="/logout" role="Button">Log out</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="font-size:120%; padding-right:20px" class="btn btn-outline-light" href="/login/auth0"role="Button">Login</a></li>
                </ul>
                {% endif %}
              </form>
            </div>
          </nav>

        {% block head %}

        {% endblock %}

    </head>

    <style media="screen">
      .carousel-cell {
        width: 66%;
        }

        
        .carousel-cell:before {
          display: block;
        }
      </style>


    <body>

      {% if user.is_authenticated %}

        <div class="container text-center">
            {% block content %}

            {% endblock %}
        </div>


      {% else %}
    <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
      <div class="carousel-cell">
        <img class="w3-image" src="https://previews.123rf.com/images/nexusplexus/nexusplexus1608/nexusplexus160806086/61811482-las-tecnolog%C3%ADas-innovadoras-como-el-concepto-de-la-ciencia-y-la-medicina.jpg">
      </div>
      <div class="carousel-cell">
        <img class="w3-image" src="https://clinic-cloud.com/wp-content/uploads/2017/07/avances-tecnologicos-en-la-medicina-actual.jpg">
      </div>
      <div class="carousel-cell">
        <img class="w3-image" src="https://tienda.maudestudio.com/wp-content/uploads/2018/11/prl_sanitario_electromedicina.jpg">
      </div>
    </div>
    <br>
    <h2 class="w3-center">Para la salud, no existen las demoras</h2>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  {% endif %}

    </body>


</html>'